/* AJUSTES GENERALES */
body {
    background-color: rgb(0, 0, 0);
  }

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: fantasy;
}

p{
    text-align: center;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }

table {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-width: 3px;
}

td {
    padding: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
 


/*INDEX*/

.titleprinc{
    font-size: 5em;
    font-style: italic;
    text-shadow: grey 2px 2px 2px;
}

.index {
    padding: 50px;
    border-width: 5px;
    font-size: 2em;
    font-style: oblique;
}



.paum {
    color: white;
    font-size: 20px;
    text-shadow: grey 1px 1px 1px;
}


/*PSEUDO CLASSES*/

p:first-child{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;  
}

p:nth-child(odd){
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;   
}

p:last-child{
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}



/* TABLA HORARIO */

.color {
    padding: 20px;
    border-width: 3px;
}

.color4 {
    background-color: red;
}

.color6 {
    background-color: orange;
}

.color7 {
    background-color: yellow;
    color: black;
}

.color8 {
    background-color: green;
}

.color10 {
    background-color: blue;
}

.color12 {
    background-color: violet;
}

.colort {
    background-color: rgb(255, 255, 255);
    color: black;
}


.horario {
    text-size-adjust: 10px;
    padding: 5px;
}

.dias {
    padding: 10px;
    border-width: 3px;
}

.hora {
    border-width: 3px;
}

/* TABLA PROFES */

.asigbody {
    border-spacing: 3px;
    
}

.asigth {
    padding: 4px;
    border-width: 3px;
    border-spacing: 5px;
    border-collapse: collapse;
}

/* TABLA ALUMNOS */


.thalum {
    padding: 4px;
    border-width: 3px;
    border-collapse: collapse;
} 

a {
    color: white;
}

.link {
    padding: 30px;
}
